*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3e3e42;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

div {
    position: absolute;
    bottom: 2em;
    background-color: rgba(37, 37, 38,0.5);
    padding: 1em;
}

input{
    width: 5em;
    height: 2em;
    background-color: #252526;
    border: none;
    text-align: center;
}

h1{
    padding: 0 1em;
    border: 2px solid #F3A712;
    border-radius: 10px;
}
input:focus{
    outline: none;
}